<!-- <div  *ngFor="let banner of banners | slice: 0: 1; let i=index">
    <img [src]="banner.image" alt="" srcset="">

</div> -->
<div class="newArrival-corner">
<a href="#"><h4>Home</h4></a>
 <p>></p> 
 <p>Festive Collection</p>
</div>

<div  *ngFor="let banner of banners | slice: 0: 1; let i=index"  [id]="getOfferId1(i)" class="newArrival-banner">
    <img [src]="banner.image" alt="" srcset="">
    
</div>

<div class="newArrivalOffer-grid">
    <div  *ngFor="let offer of offers | slice: 0: 4; let i=index"  [id]="getOfferId1(i)">
        <img [src]="offer.image" alt="" srcset="">
        
    </div>
   
  </div>



<app-banner-card></app-banner-card>



